<%= provide(:title, @user.last_name) %>

<div class="jumbotron">

    <h1 class = "center"><%= @user.first_name + ' ' + @user.last_name %></h1>
  <h3 class = "center">  <%= link_to 'Edit', edit_user_path %></h3>

</div>
